**/bin/
**/obj/
**/out/
*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.vs/
*.vscode/
**/*.dbmdl
**/*.jfm
log/
logs/
docker-compose*.yml
*.md
LICENSE
.dockerignore
.git/
.gitignore
README.md
**/node_modules/
**/wwwroot/
Dockerfile.*
.idea
.vscode
.vs
*.sln
*.csproj
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.csproj.nuget.dgspec.json
